[submodule "data-pipeline"]
	path = data-pipeline
	url = https://github.com/fengshun124/NBODY6-data-pipeline.git
	branch = main
[submodule "machine-learning"]
	path = machine-learning
	url = https://github.com/fengshun124/NBODY6-machine-learning.git
	branch = main
